<section class="row">
	<header class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
		<h1>Bývanie</h1>
	</header>

	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
		<p>
			<ul>
				<li>
					<a href="#photos">Fotografie</a>
				</li>
				<li>
					<a href="#tips">Tipy od študentov</a>
				</li>
				<li>
					<a href="#reasons">Prečo Mladosť</a>
				</li>
			</ul>
		</p>
		<p>Nenašli ste, čo ste hľadali?</p>
		<p>
			<a class="btn btn-primary" href="http://is.stuba.sk/lide/clovek.pl?id=17907;" target="_blank">
				Kontaktná osoba na FIIT
			</a>
		</p>
		<p>
			<a class="btn btn-danger" href="http://is.stuba.sk/lide/clovek.pl?id=1143;" target="_blank">
				Kontaktná osoba na STU
			</a>
		</p>
	</div>

	<div id="reasons" class="row text-center" style="margin-top: 3em">
		<header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<a href="https://www.stuba.sk/sk/studentov/studentske-domovy-stu-v-bratislave/studentsky-domov-mladost.html?page_id=696" target="_blank">
				<h2>Študentský domov Mladosť ponúka</h2>
			</a>
		</header>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/meal.jpg" alt="Logo bistra" class="img img-fluid" />
			<figcaption>Bistro priamo na Mladosti a množstvo jedální v blízkosti</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/location.png" alt="Pin z mapy" class="img img-fluid" />
			<figcaption>Blízko do školy, obchodného centra aj na poštu</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/wifi.png" alt="Wi-fi logo" class="img img-fluid" />
			<figcaption>Wi-fi sieť eduroam dostupná na celom internáte</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/ping-pong.png" alt="Ping-pongové rakety" class="img img-fluid" />
			<figcaption>Možnosť zahrať si ping-pong kedykoľvek</figcaption>
		</figure>
	</div>

	<div class="row text-center" id="tips">
		<header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Tipy a triky</h2>
		</header>

		<section class="col-xs-12 col-sm-12 col-md-12 col-md-12">
			<h3>Čo mám robiť v prípade, že som internát nedostal?</h3>
			<p>
				V prípade, že ste nedostali internát, <strong>obráťte sa na <a href="#contacts">pani Zuzku Tekulovú.</a></strong>
			</p>
		</section>

		<section class="col-xs-12 col-sm-12 col-md-12 col-md-12">
			<h3>Ak som prvák, dostanem automaticky internát?</h3>
			<p>
				Podľa bodov sa zoradí <strong>50% najlepších a tí dostanú internát</strong>. Dva bloky sa stále prerábajú a FIIT má máličko miest na Mladosti.
				Štatisticky je potvrdené, že ak pôjdeš na A-čka, tak ťa s najvyššou pravdepodobnosťou vyhodia.
			</p>
		</section>

		<section class="col-xs-12 col-sm-12 col-md-12 col-md-12">
			<h3>Čo si mám na intrák priniesť?</h3>
			<p>
				Na intráku je všetko. Kuchyňka, chladnička, mikrovlnka na jednu chodbu. Periny dostaneš, samozrejme a každé dva týždni ti ich vyperú a neplatíš nič.
				A nie, robím si prču. <strong>Treba si doniesť od kuchynských potrieb až po periny. Sú tam akurát stoly, skrine, postele, WC a sprchový kút.
				Zvyšok si treba zariadiť. </strong>
			</p>
		</section>

		<section class="col-xs-12 col-sm-12 col-md-12 col-md-12">
			<h3>V akom stave sú bloky? Počula som, že niektoré sú prerobené.</h3>
			<p>
				<strong>Prerobené sú bloky B.</strong>
				Čiastočne prerobené sú bloky C a D.
				Na bloky A chodia len lúzeri.
			</p>
		</section>
	</div>

	<div id="photos" class="row text-center">
		<header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Fotografie</h2>
		</header>

		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/mladost.jpg" alt="Exteriér ŠD Mladosť" class="img img-fluid" />
			<figcaption>Exteriér Študentského domova Mladosť</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/sprchy.jpg" alt="Sprchy na Mladosti" class="img img-fluid" />
			<figcaption>Najhoršie možné sprchy na Mladosti</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/room.jpg" alt="Jedna z najhorších izieb na Mladosti" class="img img-fluid" />
			<figcaption>Aj študenti, umiestnení do najhorších izieb, sa u nás cítia dobre</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/vybavenie.jpg" alt="Vybavenie kuchyniek" class="img img-fluid" />
			<figcaption>Takto vybavené kuchyne sú na každom poschodí</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/students.jpg" alt="Študenti pri akcii Antibordel" class="img img-fluid" />
			<figcaption>Každú jar organizuje Rada ubytovaných študentov akciu Antibordel</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/vratnicka.jpg" alt="Milý pán vrátnik" class="img img-fluid" />
			<figcaption>Pán vrátnik v typickej služobnej uniforme</figcaption>
		</figure>
	</div>

	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
		<p>Nenašli ste, čo ste hľadali?</p>
		<p>
			<a class="btn btn-primary" href="http://is.stuba.sk/lide/clovek.pl?id=17907;" target="_blank">
				Kontaktná osoba na FIIT
			</a>
		</p>
		<p>
			<a class="btn btn-danger" href="http://is.stuba.sk/lide/clovek.pl?id=1143;" target="_blank">
				Kontaktná osoba na STU
			</a>
		</p>
	</div>

</section>