<section class="text-center row">

	<header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1>Prijímacie konanie</h1>
	</header>
	
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2>Podmienky prijatia</h2>
		<p>
			V prípade nejasností pri postupe, riešení problémov so zápisom, nástupom sa môžete obrátiť na pani Zuzku Tekulovú.
		</p>
		<p>
			Mgr. Zuzana Tekulová, zuzana_tekulova[at]stuba.sk, +421 2 210 22 143 
		</p>
	</div>

</section>