<section class="row text-center">

	<h1>A kam po škole</h1>

	<section class="table-responsive">
		
		<table class="table">
			<thead class="thead-default">
				<tr class="table-warning">
					<th>Čo môžem robiť?</th>
					<th>Popis</th>
					<th>Predmety na fakulte</th>
				</tr>
			</thead>
			<tbody>

				<tr class="table-warning">
					<td>Programátor <span class="badge badge-warning">Softvér</span></td>
					<td>Staňte sa nástrojom premeny kávy a kofeínu na kód</td>
					<td>
						<ul>
							<li>Objektovo-orientované programovanie</li>
							<li>Procedurálne programovanie</li>
							<li>Vývoj a architektúra viacvrstvových aplikácií</li>
							<li>Dátové štruktúry a algoritmy</li>
							<li>Aplikačné programovanie v C++</li>
							<li>Paralelné programovanie</li>
							<li>Princípy počítačovej grafiky a spracovania obrazu</li>
						</ul>
					</td>
				</tr>
				<tr class="table-warning">
					<td>Dátový analytik <span class="badge badge-warning">Softvér</span></td>
					<td>Dolujte v dátach, naučte sa pracovať s daabázami a optimalizovať ich</td>
					<td>
						<ul>
							<li>Databázové systémy</li>
							<li>Výskumne orientovaný seminár II.</li>
							<li>Pokročilé databázové technológie</li>
							<li>Objektovo-orientované programovanie</li>
						</ul>
					</td>
				</tr>
				<tr class="table-warning">
					<td>IT analytik <span class="badge badge-warning">Softvér</span></td>
					<td>Analyzujte získané dáta a naučte sa predpovedať budúcnosť, ktorú iní nevidia</td>
					<td>
						<ul>
							<li>Princípy softvérového inžinierstva</li>
							<li>Modelovanie softvéru</li>
						</ul>
					</td>
				</tr>
				<tr class="table-warning">
					<td>UX dizajnér <span class="badge badge-warning">Softvér</span></td>
					<td>Navrhujte používateľské rozhranie lepšie ako Števko Práca</td>
					<td>
						<ul>
							<li>Interakcia človeka s počítačom</li>
							<li>Interakcia ľudoopa s počítačom</li>
							<li>Princípy softérového inžinierstva</li>
						</ul>
					</td>
				</tr>
				<tr class="table-warning">
					<td>IT projektový manažér <span class="badge badge-warning">Softvér</span></td>
					<td>Staňte sa manažérom, ktorého každý  kvalitný softvérový projekt potrebuje</td>
					<td>
						<ul>
							<li>Tímový projekt</li>
						</ul>
					</td>
				</tr>
				
				<tr class="table-info">
					<td>
						Špecialista v oblasti počítačových sietí
						<span class="badge badge-primary">Hardvér</span>
					</td>
					<td>Život bez internetu si už dnes nevieme predstaviť. Preto je táto porofesia taká dôležitá</td>
					<td>
						<ul>
							<li>Počítačové komunikačné siete a systémy</li>
							<li>Prepínanie a smerovanie IP sietí</li>
							<li>WAN technológie</li>
							<li>Mobilné technológie a aplikácie</li>
						</ul>
					</td>
				</tr>
				<tr class="table-info">
					<td>
						Návrhár digitálnych systémov
						<span class="badge badge-primary">Hardvér</span>
					</td>
					<td>Navrhujte moderné digitálne systémy s využitím súčasných noriem a štandardov</td>
					<td>
						<ul>
							<li>Špecifikačné prostriedky</li>
							<li>Logické systémy</li>
							<li>Architektúry počítačov</li>
							<li>Mikropočítače</li>
							<li>Systémové programovanie a asemblery</li>
						</ul>
					</td>
				</tr>
				<tr class="table-info">
					<td>
						Linux administrátor
						<span class="badge badge-primary">Hardvér</span>
					</td>
					<td>Naučte sa nebáť linuxu a vyskúšajte si, prečo má pán inžinier Steinmuller také dobré auto</td>
					<td>
						<ul>
							<li>Operačné systémy</li>
							<li>Systémové programovanie a asemblery</li>
							<li>Počítačové komunikačné siete a systémy</li>	
						</ul>
					</td>
				</tr>

				<tr class="table-success">
					<td>
						Etický hacker
						<span class="badge badge-success">Informačná bezpečnosť</span>
					</td>
					<td>Verejne buďte etický, za chrbtom buďte hacker</td>
					<td></td>
				</tr>
				<tr class="table-success">
					<td>
						Špecialista na sieťovú bezpečnosť
						<span class="badge badge-success">Informačná bezpečnosť</span>
					</td>
					<td>Vyskúšajte si, aké jednoduché je zneužiť cudzí počítač a ako tomu predísť</td>
					<td>
						<ul>
							<li>Princípy informačnej bezpečnosti</li>
							<li>Princípy sieťovej bezpečnosti</li>
							<li>Počítačové komunikačné siete a systémy</li>
						</ul>
					</td>
				</tr>
				
				<tr class="table-danger">
					<td>
						Umelý inteligent
						<span class="badge badge-danger">Umelá inteligencia</span>
					</td>
					<td>Naučte sa naoko predstierať, že ste inteligentný</td>
					<td>
						<ul>
							<li>Umelá inteligencia</li>
							<li>Výskumne orientovaný seminár II.</li>
							<li>Pravdepodobnosť a štatistika</li>
						</ul>
					</td>
				</tr>
				<tr class="table-danger">
					<td>
						Odborník na strojové učenie
						<span class="badge badge-danger">Umelá inteligencia</span>
					</td>
					<td>Staňte sa Willom Smithom z filmu Ja, robot.</td>
					<td>
						<ul>
							<li>Umelá inteligencia</li>
							<li>Výskumne orientovaný seminár II.</li>
							<li>Pravdepodobnosť a štatistika</li>
						</ul>
					</td>
				</tr>

			</tbody>
		</table>

	</section>
</section>