<section class="text-center row">
	<header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1>Stravovanie</h1>
		<p>
			<ul>
				<li>
					<a href="#eat">Eat and Meet</a>
				</li>
				<li>
					<a href="#venza">Venza</a>
				</li>
			</ul>
		</p>
	</header>

	<div od="eat" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
		<a href="http://www.eatandmeet.sk" target="_blank">
			<h2>Eat and Meet</h2>
		</a>

		<h3>Ceny so študentskou kartou ISIC</h3>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/breakfast.jpg" alt="Raňajky" class="img img-fluid" />
			<figcaption>Raňajky 0,60 €</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/menu.jpg" alt="Obedy a večere" class="img img-fluid" />
			<figcaption>Obedy a večere 1,10 €</figcaption>
		</figure>
	</div>

	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
		<h3>Otváracie hodiny</h3>
		<table class="table table-borderless">
			<thead>
				<tr>
					<th>Deň</th>
					<th>Otvorené</th>
					<th>Raňajky</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Pondelok – Piatok</td>
					<td>7:00 – 20:30</td>
					<td>7:00 - 10:30</td>
				</tr>
				<tr>
					<td>Sobota – Nedeľa</td>
					<td>9:00 – 19:00</td>
					<td>9:00 – 10:30</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
		<h3>Prečo Eat and Meet?</h3>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/hamburger.png" alt="Hamburger" class="img img-fluid" />
			<figcaption>Pravidelne hamburgerové hody</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/kofola.jpg" alt="Kofola" class="img img-fluid" />
			<figcaption>Kofola čapovaná z tanku</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/cooling.png" alt="Logo klimatizácie" class="img img-fluid" />
			<figcaption>Klimatizované priestory</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/birthday.jpg" alt="Narodeninový obed" class="img img-fluid" />
			<figcaption>Na narodeniny obed zdarma</figcaption>
		</figure>
	</div>

	<div id="venza" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
		<a href="https://www.facebook.com/venza.mlyny/" target="_blank">
			<h2>Venza</h2>
		</a>
		<h3>Ceny so študentskou kartou ISIC</h3>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/breakfast.jpg" alt="Raňajky" class="img img-fluid" />
			<figcaption>Raňajky 0,60 €</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/menu.jpg" alt="Obedy a večere" class="img img-fluid" />
			<figcaption>Obedy a večere 1,10 €</figcaption>
		</figure>
	</div>

	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
		<h3>Otváracie hodiny</h3>
		<p>
			Pondelok - piatok, <strong>8:00 - 20:30</strong>. 
			Raňajky podávame <strong>do 10:30</strong>.
		</p>
	</div>

	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
		<h3>Prečo Venza?</h3>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/celiac.png" alt="Logo, bez gluténu" class="img img-fluid" />
			<figcaption>Bezlepková strava pre celiatikov</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/dairy-free.jpg" alt="Logo, bez mlieka" class="img img-fluid" />
			<figcaption>Menu bez laktózy</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/vegan.jpeg" alt="Vegán logo" class="img img-fluid" />
			<figcaption>Vegánske hody</figcaption>
		</figure>
		<figure class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<img src="assets/img/spaggethi.jpg" alt="Špagety" class="img img-fluid" />
			<figcaption>Špagetové hody</figcaption>
		</figure>
	</div>

</section>