* {
	box-sizing: border-box;
}

main {
	background-color: #fff;
	min-height: 40em;
	padding: 2em 3em;
}

#content h1,
#content h2,
#content h3 {
	font-weight: bold;
}

.bg-fiit {
	background-color: #0092c2;
}

.bg-fiit .navbar-brand {
	color: #FFF;
}

.bg-fiit .navbar-brand a:hover, 
.bg-fiit .navbar-brand a:focus {
	color: #FFF;
}

#main-nav {
	background-color: #0092c2;
	width: 100%;
	z-index: 999;
}

#main-nav a {
	transition: color 0.5s ease;
	color: #fff;
}

#main-nav a:hover,
#main-nav a:focus {
	color: gold;
}

footer {
	color: #FFF;
}

footer a {
	color: #FFF;
}

footer a:focus,
footer a:hover {
	color: #FFF;
	text-decoration: none;
}

footer ul, main ul {
	list-style: none;
	padding: 0;
}

#content > section {
	margin-bottom: 2em;
	margin-top: 2em;
}

#content a:hover,
#content a:focus {
	text-decoration: none;
}

#content > section > div {
	margin-top: 1em;
	margin-bottom: 1em;
}

figure > figcaption {
	padding: 1em;
}

figure {
	padding: 1em;
}

#tips > section {
	padding: 2em;
	margin-bottom: 1em;
	margin-top: 1em;
}